[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
pillow = "*"
psycopg2 = "*"
pandas = "*"
sqlalchemy = "*"
pymongo = "*"
scrapy-user-agents = "*"
scrapy-zyte-smartproxy = "*"
langdetect = "*"

[dev-packages]

[requires]
python_version = "3.8"
